<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="Content-Security-Policy"
                    value="default-src 'self' fonts.googleapis.com; img-src 'self' data:; font-src 'self' fonts.gstatic.com; connect-src api.assistantapps.com" />
                <add name="X-Content-Security-Policy"
                    value="default-src 'self' fonts.googleapis.com; img-src 'self' data:; font-src 'self' fonts.gstatic.com; connect-src api.assistantapps.com" />
                <add name="X-WebKit-CSP"
                    value="default-src 'self' fonts.googleapis.com; img-src 'self' data:; font-src 'self' fonts.gstatic.com; connect-src api.assistantapps.com" />
                <add name="Set-Cookie" value="cross-site-cookie=name; SameSite=None; Secure" />
            </customHeaders>
        </httpProtocol>
        <rewrite>
            <rules>
                <rule name="RedirectTodiscord" stopProcessing="true">
                    <match url="^(.*)discord(.*)" ignoreCase="true" />
                    <action type="Redirect" url="https://discord.gg/q3aFBQM?ref=AssistantApps" appendQueryString="false" redirectType="Permanent" />
                </rule>
                <rule name="RedirectTogithub" stopProcessing="true">
                    <match url="^(.*)github(.*)" ignoreCase="true" />
                    <action type="Redirect" url="https://github.com/AssistantApps?ref=AssistantApps" appendQueryString="false" redirectType="Permanent" />
                </rule>
                <rule name="RedirectTokurt" stopProcessing="true">
                    <match url="^(.*)kurt(.*)" ignoreCase="true" />
                    <action type="Redirect" url="https://kurtlourens.com?ref=AssistantApps" appendQueryString="false" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>