@import './custom/slider';
@import './custom/wrapper';
@import './custom/buttons';
@import './custom/icomoon';

#header h1 {
    @include breakpoint('<xsmall') {
        display: none;
    }
}

#banner>.inner {
    @include breakpoint('<medium') {
        text-align: center;
    }
}

ul.contact {
    margin-top: 1em;

    li a {
        text-decoration: none;
        border-bottom: none;

        font-family: "Raleway", sans-serif;
        font-size: 1em;
        line-height: 2em;
    }
}

.font-weight-light {
    font-weight: 200;
}

.font-weight-heavy {
    font-weight: 500;
}