$assistantNMSTitle: "No Man\'s Sky";
$assistantSMSTitle: "Scrap Mechanic";
// $assistantHytTitle: "Hytale";
$assistantNMSImage: url("../../assets/img/icon/assistantNMS.png");
$assistantSMSImage: url("../../assets/img/icon/assistantSMS.png");
// $assistantHytImage: url("../../assets/img/icon/assistantHyt.png");

$appTitles: //
$assistantNMSTitle,
$assistantSMSTitle
/*,$assistantHytTitle*/
;

$appImages: //
$assistantNMSImage,
$assistantSMSImage
/*,$assistantHytImage*/
;

$appAnimationPerc: (100 / length($appTitles));
$appAnimationGapPerc: 5;
$appAnimationSecPerApp: 2.5;
$appAnimationDuration: ($appAnimationSecPerApp * length($appTitles));

.apps-word-slider {
    &::after {
        content: "everything!";
        animation: appsWordSliderText #{$appAnimationDuration}s infinite;
        overflow: hidden;
    }
}

#banner>.inner .apps-word-slider {
    @include breakpoint('<medium') {
        display: block;
    }
}

@keyframes appsWordSliderText {
    @for $titleIndex from 1 through length($appTitles) {
        $percentageLower: (($titleIndex - 1) * $appAnimationPerc)+1;
        $percentage: ($titleIndex * $appAnimationPerc);

        @if $titleIndex==1 {
            $percentageLower: 0;
        }

        $title: nth($appTitles, $titleIndex);

        #{$percentageLower}#{"%"} {
            opacity: 0;
            content: $title;
        }

        #{$percentageLower + $appAnimationGapPerc}#{"%"} {
            opacity: 1;
            content: $title;
        }

        #{$percentage - $appAnimationGapPerc}#{"%"} {
            opacity: 1;
            content: $title;
        }

        #{$percentage}#{"%"} {
            opacity: 0;
            content: $title;
        }
    }
}

.apps-image-slider {
    width: 50px;
    height: 50px;
    background-image: $assistantNMSImage;
    background-repeat: round;
    animation: appsImageSliderText #{$appAnimationDuration}s infinite;

    @include breakpoint('<medium') {
        margin: 0 auto;
    }
}

@keyframes appsImageSliderText {
    @for $imageIndex from 1 through length($appImages) {
        $percentageLower: (($imageIndex - 1) * $appAnimationPerc) + 1;
        $percentage: ($imageIndex * $appAnimationPerc);

        @if $imageIndex==1 {
            $percentageLower: 0;
        }

        $image: nth($appImages, $imageIndex);

        #{$percentageLower}#{"%"} {
            opacity: 0;
            background-image: $image;
        }

        #{$percentageLower + $appAnimationGapPerc}#{"%"} {
            opacity: 1;
            background-image: $image;
        }

        #{$percentage - $appAnimationGapPerc}#{"%"} {
            opacity: 1;
            background-image: $image;
        }

        #{$percentage}#{"%"} {
            opacity: 0;
            background-image: $image;
        }
    }
}