<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="Content-Security-Policy" value="default-src 'none'; script-src 'self' 'report-sample' nonce-kurtlourensbundle nonce-schema nonce-analytics; style-src 'self' 'unsafe-inline' 'report-sample' fonts.googleapis.com; img-src 'self' data: cdn.assistantapps.com blog.kurtlourens.com khaoznet.visualstudio.com vsrm.dev.azure.com khaoznet.vsrm.visualstudio.com; font-src 'self' data: fonts.gstatic.com; manifest-src https://kurtlourens.com/manifest.json; connect-src api.assistantapps.com; base-uri 'self'; report-uri 'none'; form-action 'none'; frame-ancestors 'none'; upgrade-insecure-requests;" />
                <add name="X-Content-Security-Policy" value="default-src 'none'; script-src 'self' 'report-sample' nonce-kurtlourensbundle nonce-schema nonce-analytics; style-src 'self' 'unsafe-inline' 'report-sample' fonts.googleapis.com; img-src 'self' data: cdn.assistantapps.com blog.kurtlourens.com khaoznet.visualstudio.com vsrm.dev.azure.com khaoznet.vsrm.visualstudio.com; font-src 'self' data: fonts.gstatic.com; manifest-src https://kurtlourens.com/manifest.json; connect-src api.assistantapps.com; base-uri 'self'; report-uri 'none'; form-action 'none'; frame-ancestors 'none'; upgrade-insecure-requests;" />
                <add name="X-WebKit-CSP" value="default-src 'none'; script-src 'self' 'report-sample' nonce-kurtlourensbundle nonce-schema nonce-analytics; style-src 'self' 'unsafe-inline' 'report-sample' fonts.googleapis.com; img-src 'self' data: cdn.assistantapps.com blog.kurtlourens.com khaoznet.visualstudio.com vsrm.dev.azure.com khaoznet.vsrm.visualstudio.com; font-src 'self' data: fonts.gstatic.com; manifest-src https://kurtlourens.com/manifest.json; connect-src api.assistantapps.com; base-uri 'self'; report-uri 'none'; form-action 'none'; frame-ancestors 'none'; upgrade-insecure-requests;" />
                <add name="Set-Cookie" value="cross-site-cookie=name; SameSite=None; Secure" />
            </customHeaders>
        </httpProtocol>
        <rewrite>
            <rules>
                <rule name="RedirectToDiscord" stopProcessing="true">
                    <match url="^(.*)Discord(.*)" ignoreCase="true" />
                    <action type="Redirect" url="https://discord.gg/q3aFBQM?ref=kurtlourens.com" appendQueryString="false" redirectType="Permanent" />
                </rule>
                <rule name="RedirectToGithub" stopProcessing="true">
                    <match url="^(.*)Github(.*)" ignoreCase="true" />
                    <action type="Redirect" url="https://github.com/AssistantApps?ref=kurtlourens.com" appendQueryString="false" redirectType="Permanent" />
                </rule>
                <rule name="RedirectToKurt" stopProcessing="true">
                    <match url="^(.*)Kurt(.*)" ignoreCase="true" />
                    <action type="Redirect" url="https://kurtlourens.com?ref=kurtlourens.com" appendQueryString="false" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>